
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Poly Books</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/polyBooks.png" />

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" rel="stylesheet" />

    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/assets/img/logobook.png" />
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    <script src="/js/validatebanner.js"></script>

</head>
<body class="nav-fixed">
{{> nav_header}}
<div id="layoutSidenav">
    <!--            Sidebar-->
    {{> sidebar}}
    <!--            End Sidebar-->

    <!--          Start Content-->
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                <div class="container-fluid px-4">
                    <div class="page-header-content">
                        <div class="row align-items-center justify-content-between pt-3">
                            <div class="col-auto mb-3">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="award"></i></div>
                                    Thêm mới banner
                                </h1>
                            </div>
                            <div class="col-12 col-xl-auto mb-3">
                                <a class="btn btn-sm btn-light text-primary" href="/AdvertisingManagement">
                                    <i class="me-1" data-feather="arrow-left"></i>
                                    Trở lại
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="d-flex justify-content-center">
                <div class="col-xl-8">
                    <div class="card mb-4 ">
                        <div class="card-header">Thêm mới Banner</div>
                        <div class="card-body">

                            <form action="/AdvertisingManagement/add_new_banner" method="post" enctype="multipart/form-data" onsubmit="return validateFormBanner()">
                                <div class="row gx-3 mb-3">  
                                    <div class="col-md-6">
                                            <label class="small mb-1" for="phoneNumber">Khách hàng</label>
                                            <input id="name" class="form-control" id="name" type="text" name="name" placeholder="Mời nhập họ tên khách hàng" />
                                            <div id="nameError" class="error-message" style="color: red; font-size: 12px;"></div>
                                    </div>
                                    <div class="col-md-6">
                                            <label class="small mb-1" for="phoneNumber">Số điện thoại</label>
                                            <input class="form-control" id="phone" type="text" pattern="[0-9]+" name="phone" placeholder="Nhập số điện thoại của bạn" />
                                            <div id="phoneError" class="error-message" style="color: red; font-size: 12px;"></div>
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">  
                                    <div class="col-md-6">
                                            <label class="small mb-1" for="phoneNumber">Địa chỉ</label>
                                            <input class="form-control" id="diachi" type="text" name="address" placeholder="Mời nhập địa chỉ" />
                                            <div id="diachiError" class="error-message" style="color: red; font-size: 12px;"></div>
                                    </div>
                                    <div class="col-md-6">
                                            <label class="small mb-1" for="phoneNumber">Liên kết</label>
                                            <input class="form-control" id="link" type="text" name="link" placeholder="Mời nhập liên kết" />
                                            <div id="linkError" class="error-message" style="color: red; font-size: 12px;"></div>
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">  
                                    <div class="col-md-6">
                                            <label class="small mb-1" for="phoneNumber">Mô tả</label>
                                            <input class="form-control" id="mota" type="text" name="description" placeholder="Mời nhập mô tả" />
                                            <div id="motaError" class="error-message" style="color: red; font-size: 12px;"></div>
                                    </div>
                                    <div class="col-md-6">
                                            <label class="small mb-1" for="phoneNumber">Giá</label>
                                            <input class="form-control" id="price" type="text" pattern="[0-9]+" name="price" placeholder="Mời nhập giá" />
                                            <div id="priceError" class="error-message" style="color: red; font-size: 12px;"></div>
                                    </div>
                                </div>
                                 <div class="row gx-3 mb-3">  
                                    <div class="col-md-6">
                                            <label class="small mb-1" for="phoneNumber">Thời gian kết thúc</label>
                                            <input class="form-control" id="endTime" type="date" name="endTime" />
                                            <div id="endTimeError" class="error-message" style="color: red; font-size: 12px;"></div>
                                    </div>
                                    <div class="col-md-6">
                                            <label class="small mb-1" for="phoneNumber">Người tạo</label>
                                            <input class="form-control" id="createUser" type="text" name="createUser" value="{{userId}}" disabled readonly/>
                                            
                                    </div>
                                </div>
                                
                                <label class="small mb-2" for="image">Chọn banner tải lên</label>
                                <div>
                                    <input type="file" id="image" name="image" accept="image/*" onchange="previewImage(event)" class="mb-2">
                                    <img id="preview" src="#"  class="d-block w-100 mb-2">
                                </div>
                                {{!-- <div class="card-body text-center"> --}}
                                    <button style="font-weight: bold;margin-right: 15px;" class="btn btn-primary" type="submit">Thêm mới</button>
                                {{!-- </div> --}}
                                
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </main>

    </div>

    <!--            End Content-->

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables/datatables-simple-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
<script src="js/litepicker.js"></script>

<script>
    function previewImage(event) {
        var preview = document.getElementById('preview');
        preview.src = URL.createObjectURL(event.target.files[0]);
    }
</script>
</body>
</html>