
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Poly Books</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/polyBooks.png" />

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" rel="stylesheet" />

    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="assets/img/logobook.png" />
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
</head>
<body class="nav-fixed">
{{> nav_header}}
<div id="layoutSidenav">
    <!--            Sidebar-->
    <div id="layoutSidenav_nav">
        <nav class="sidenav shadow-right sidenav-light">
            <div class="sidenav-menu">

                <div class="nav accordion" id="accordionSidenav">

                    <!-- Sidenav Menu Heading (Statistical)-->
                    <div class="sidenav-menu-heading">Statistical</div>
                    <!-- Sidenav Accordion (Thống kê)-->
                    <a class="nav-link" href="/Statistical">
                        <div class="nav-link-icon"><i data-feather="activity"></i></div>
                        Thống kê
                    </a>

                    <!-- Sidenav Heading (Posts)-->
                    <div class="sidenav-menu-heading">Account management</div>
                    <!-- Sidenav Accordion (Pages)-->
                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapsePosts" aria-expanded="false" aria-controls="collapsePosts">
                        <div class="nav-link-icon"><i data-feather="grid"></i></div>
                        Quản lý tài khoản
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePosts" data-bs-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesMenu">

                            <a class="nav-link" href="/RegularMembers">
                                <!--                                <div class="nav-link-icon"><i data-feather="user"></i></div>-->
                                Thành viên thường
                            </a>
                            <!-- Nested Sidenav Accordion (Posts -> AutionPost)-->
                            <a class="nav-link " href="/VipMembers">
                                <!--                                <div class="nav-link-icon"><i data-feather="star"></i></div>-->
                                Thành viên VIP
                            </a>


                        </nav>
                    </div>

                    <!-- Sidenav Heading (Aution Post)-->
                    <div class="sidenav-menu-heading">Aution Post</div>
                    <!-- Sidenav Accordion (Cửa hàng)-->
                    <a class="nav-link" href="/AutionPost">
                        <div class="nav-link-icon"><i data-feather="clipboard"></i></div>
                        Danh sách đấu giá
                    </a>

                    <!-- Sidenav Heading (Author and Pulisher)-->
                    <div class="sidenav-menu-heading">Duyệt nội dung</div>
                    <!-- Sidenav Accordion (Author)-->
                    <a class="nav-link active" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseAuthor" aria-expanded="false" aria-controls="collapseAuthor">
                        <div class="nav-link-icon"><i data-feather="align-center"></i></div>
                        Duyệt nội dung
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse show" id="collapseAuthor" data-bs-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                            <a class="nav-link active" href="/BookApproval">Duyệt bài đăng sách</a>
                            <a class="nav-link" href="/NewApproval">Duyệt bài đăng tin </a>
                        </nav>
                    </div>



                    <!-- Sidenav Heading ( Report)-->
                    <div class="sidenav-menu-heading">Report</div>


                    <!-- Sidenav Accordion (Review)-->
                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseReview" aria-expanded="false" aria-controls="collapseReview">
                        <div class="nav-link-icon"><i data-feather="flag"></i></div>
                        Quản lý report
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseReview" data-bs-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                            <a class="nav-link" href="/PendingReport">Report chờ xử lý</a>
                            <a class="nav-link" href="/ProcessedReport">Report đã xử lý </a>
                        </nav>
                    </div>


                    <a class="nav-link " href="/AdvertisingManagement">
                        <div class="nav-link-icon"><i data-feather="award"></i></div>
                        Quản lý quảng cáo
                    </a>


                </div>
            </div>

        </nav>
    </div>

    <!--            End Sidebar-->

    <!--          Start Content-->
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                <div class="container-xl px-4">
                    <div class="page-header-content">
                        <div class="row align-items-center justify-content-between pt-3">
                            <div class="col-auto mb-3">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="user"></i></div>
                                    Chi tết bài báo cáo
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4 mt-4">
                <!-- Account page navigation-->
                <div class="row">
                    <div class="col-xl-7">
                        <!-- Account details card-->
                        <div class="card mb-4">
                            <div class="card-header">Chi tiết báo cáo</div>
                            <div class="card-body">
                                <form>
                                    <!-- Form Group (username)-->
                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputUsername">Hình ảnh người báo cáo cung cấp</label>
                                        <div class="card-body text-center">
                                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                                <div class="carousel-indicators">
                                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                                </div>
                                                <div class="carousel-inner">
                                                    <div class="carousel-item active">
                                                        <img src="https://i.doanhnhansaigon.vn/2021/10/23/25dacnhantam48-1634975033_750x0.jpg" class="d-block w-100" alt="...">
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img src="https://jonathanvankin.com/wp-content/uploads/2022/02/Tac-gia-Dac-nhan-tam-la-ai-va-noi-dung-tung-phan-cua-cuon-sach.jpg" class="d-block w-100" alt="...">
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img src="https://sachngoaingu.org/wp-content/uploads/2019/05/58570445_890012078005036_2784590884711170048_o.jpg" class="d-block w-100" alt="...">
                                                    </div>
                                                </div>
                                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputUsername">Người báo cáo</label>
                                        <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="Phùng Hiển" />
                                    </div>
                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputUsername">Nội dung báo cáo</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"> Sách gửi đến khác với trên bài đăng</textarea>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 ">
                        <!-- Profile picture card-->
                        <div class="card mb-4 mb-xl-0">
                            <div class="card-header">Ảnh trong bài đăng</div>
                            <div class="card-body text-center">
                                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="https://sachngoaingu.org/wp-content/uploads/2019/05/58570445_890012078005036_2784590884711170048_o.jpg" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="https://jonathanvankin.com/wp-content/uploads/2022/02/Tac-gia-Dac-nhan-tam-la-ai-va-noi-dung-tung-phan-cua-cuon-sach.jpg" class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="https://i.doanhnhansaigon.vn/2021/10/23/25dacnhantam48-1634975033_750x0.jpg" class="d-block w-100" alt="...">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-4 mb-xl-0">
                            <div class="card-header">Phản hồi</div>
                            <div class="card-body text-center">
                                <textarea class="form-control mb-4" id="exampleFormControlTextarea1" rows="3"></textarea>
                                <a class="btn btn-primary" type="button" href="pending_report">Gửi phản hồi</a>
                            </div>


                        </div>
                    </div>


                </div>


            </div>
        </main>

    </div>

    <!--            End Content-->

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables/datatables-simple-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
<script src="js/litepicker.js"></script>
</body>
</html>