<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Poly Books</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/polyBooks.png" />

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" rel="stylesheet" />

    <link href="../css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/assets/img/logobook.png" />
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
    <script src="../js/jscustom.js"></script>
     <script src="/js/validateshop.js"></script>
</head>
<body class="nav-fixed">
{{> nav_header}}
<div id="layoutSidenav">
    <!--            Sidebar-->
    {{> sidebar}}
    <!--            End Sidebar-->

    <!--          Start Content-->
  <div id="layoutSidenav_content">
                <main>
                    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                        <div class="container-xl px-4">
                            <div class="page-header-content">
                                <div class="row align-items-center justify-content-between pt-3">
                                    <div class="col-auto mb-3">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="user-plus"></i></div>
                                            Thêm Mới Cửa Hàng
                                        </h1>
                                    </div>
                                    <div class="col-12 col-xl-auto mb-3">
                                        <a onclick="confirmRedirectShop()" class="btn btn-sm btn-light text-primary">
                                            <i class="me-1" data-feather="arrow-left"></i>
                                            Quay lại
                                        </a>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                    <div class="container-fluid px-4">
                        <div class="card">
                            
                            <div class="row">
                                <!-- Account details card-->
                                <div class="mb-4">
                                    <div class="card-header">Thông Tin Chi Tiết</div>
                                    <div class="card-body">
                                <form action="" method="post" onsubmit="return validateFormShop()">

                                    <div class="mb-3">
                                        <label class="small mb-1" for="inputUserId">Chọn người dùng</label>
                                        <select name="inputUser" class="form-select" id="inputUserId">
                                            <option disabled selected>Mời bạn chọn người dùng</option>
                                            {{#each listUser}}
                                                <option value="{{this._id}}">{{this.fullName}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                   
                                <!-- Form Group (Họ Tên)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputUsername">Tên cửa hàng</label>
                                    <input  name="inputShopname" class="form-control" id="shop" type="text" placeholder="Nhập tên cửa hàng"/>
                                    <div id="nameshopError" class="error-message" style="color: red; font-size: 12px;"></div>
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">

                                    <!-- Form Group (email address)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="email">Số điện thoại 1</label>
                                        <input  name="ShopPhoneNumber" class="form-control" id="phoneshop1" type="number" placeholder="Nhập số điện thoại của bạn"/>
                                        <div id="phone1Error" class="error-message" style="color: red; font-size: 12px;"></div>
                                    </div>

                                    <!-- Form Group (Ngày Sinh)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputBirthday">Số điện thoại 2</label>
                                        <input  name="ShopPhone" class="form-control" id="phoneshop2" type="number"  placeholder="Nhập số điện thoại của bạn"/>
                                        <div id="phone2Error" class="error-message" style="color: red; font-size: 12px;"></div>
                                    </div>
                                </div>
                                <!-- Form Group (Địa chỉ)-->
                               <div class="row gx-3 mb-3">

                                    <!-- Form Group (email address)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="email">Mô tả</label>
                                        <input  name="description" class="form-control" id="motashop" type="text" placeholder="Nhập mô tả của bạn"/>
                                        <div id="motaError" class="error-message" style="color: red; font-size: 12px;"></div>
                                    </div>

                                    <!-- Form Group (Ngày Sinh)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputBirthday">Địa chỉ</label>
                                        <input  name="address" class="form-control" id="shopdiachi" type="text"  placeholder="Nhập địa chỉ cửa hàng của bạn"/>
                                        <div id="diachishopError" class="error-message" style="color: red; font-size: 12px;"></div>
                                    </div>
                                </div>
                                
                                <!-- Save changes button-->
                                <div class="card-body text-center">
                                    <button style="font-weight: bold;margin-right: 15px;" class="btn btn-primary" type="submit">Đồng ý</button>
                                    <button id="cancelButton" style="background: rgb(211, 211, 211); color: #949292; font-weight: bold; border: solid 1px rgb(199, 198, 198);" class="btn btn-primary" type="button">Hủy</button>
                                </div>
                            </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="footer-admin mt-auto footer-light">
                    <div class="container-xl px-4">
                        <div class="row">
                            <div class="col-md-6 small">Copyright &copy; Your Website 2021</div>
                            <div class="col-md-6 text-md-end small">
                                <a href="#!">Privacy Policy</a>
                                &middot;
                                <a href="#!">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>    

    <!--            End Content-->

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables/datatables-simple-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
<script src="js/litepicker.js"></script>
</body>
</html>