
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Poly Books</title>
    <link rel="icon" type="image/x-icon" href="assets/img/polyBooks.png" />

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" rel="stylesheet" />

    <link href="css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="assets/img/logobook.png" />
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
</head>
<body class="nav-fixed">
{{> nav_header}}
<div id="layoutSidenav">
    <!--            Sidebar-->
    <div id="layoutSidenav_nav">
        <nav class="sidenav shadow-right sidenav-light">
            <div class="sidenav-menu">

                <div class="nav accordion" id="accordionSidenav">

                    <!-- Sidenav Menu Heading (Statistical)-->
                    <div class="sidenav-menu-heading">Statistical</div>
                    <!-- Sidenav Accordion (Thống kê)-->
                    <a class="nav-link " href="account_statistics">
                        <div class="nav-link-icon"><i data-feather="activity"></i></div>
                        Thống kê
                    </a>

                    <!-- Sidenav Heading (Posts)-->
                    <div class="sidenav-menu-heading">Account management</div>
                    <!-- Sidenav Accordion (Pages)-->
                    <a class="nav-link active" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapsePosts" aria-expanded="false" aria-controls="collapsePosts">
                        <div class="nav-link-icon"><i data-feather="grid"></i></div>
                        Quản lý tài khoản
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse show" id="collapsePosts" data-bs-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesMenu">

                            <a class="nav-link" href="list_regular_member">
                                <!--                                <div class="nav-link-icon"><i data-feather="user"></i></div>-->
                                Thành viên thường
                            </a>
                            <!-- Nested Sidenav Accordion (Posts -> AutionPost)-->
                            <a class="nav-link active" href="list_vip_member">
                                <!--                                <div class="nav-link-icon"><i data-feather="star"></i></div>-->
                                Thành viên VIP
                            </a>


                        </nav>
                    </div>

                    <!-- Sidenav Heading (Aution Post)-->
                    <div class="sidenav-menu-heading">Aution Post</div>
                    <!-- Sidenav Accordion (Cửa hàng)-->
                    <a class="nav-link" href="list_aution_post">
                        <div class="nav-link-icon"><i data-feather="clipboard"></i></div>
                        Danh sách đấu giá
                    </a>

                    <!-- Sidenav Heading (Author and Pulisher)-->
                    <div class="sidenav-menu-heading">Duyệt nội dung</div>
                    <!-- Sidenav Accordion (Author)-->
                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseAuthor" aria-expanded="false" aria-controls="collapseAuthor">
                        <div class="nav-link-icon"><i data-feather="align-center"></i></div>
                        Duyệt nội dung
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseAuthor" data-bs-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                            <a class="nav-link" href="book_approval">Duyệt bài đăng sách</a>
                            <a class="nav-link" href="new_approval">Duyệt bài đăng tin </a>
                        </nav>
                    </div>



                    <!-- Sidenav Heading ( Report)-->
                    <div class="sidenav-menu-heading">Report</div>


                    <!-- Sidenav Accordion (Review)-->
                    <a class="nav-link collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#collapseReview" aria-expanded="false" aria-controls="collapseReview">
                        <div class="nav-link-icon"><i data-feather="flag"></i></div>
                        Quản lý report
                        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseReview" data-bs-parent="#accordionSidenav">
                        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                            <a class="nav-link" href="pending_report">Report chờ xử lý</a>
                            <a class="nav-link" href="processed_report">Report đã xử lý </a>
                        </nav>
                    </div>


                    <a class="nav-link " href="ad_management">
                        <div class="nav-link-icon"><i data-feather="award"></i></div>
                        Quản lý banner
                    </a>


                </div>
            </div>

        </nav>
    </div>
    <!--            End Sidebar-->

    <!--          Start Content-->


    <!--            End Content-->

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables/datatables-simple-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
<script src="js/litepicker.js"></script>
</body>
</html>